<ion-view view-title="Rechercher">
    <ion-content>
       
        <ion-refresher
            pulling-text="Rafraichir"
            on-refresh="onRefresh(origin)">
        </ion-refresher>


        <div class="item item-input-inset">
            <div class="row">
                <div class="col col-75">
                    <label class="item-input-wrapper">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input ng-model="origin" ng-change="textChanged(origin)" type="search" placeholder="City" ng-model-options="{debounce: 1000}">
                    </label>
                </div>
                <div class="col col-25">
                        <select class="select">
                            <option selected>Station</option>
                            <option>Adresse</option>
                        </select>
                </div>
            </div>

        </div>


        <ion-list can-swipe="listCanSwipe">
            <ion-item>
                <div class="row">
                    <h3>Stations de départ</h3>
                </div>
                <div class="row">
                    <div class="bloc">
                          <div class="bloc-space" ng-repeat="station in departures.stationsFrom">
                              <button class="bloc-station" ng-class="station.active ? 'active' : ''" ng-click="desactivateOriginStationId(station.id)">
                                  {{station.name}}
                              </button>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <h3>Stations d'arrivée</h3>
                </div>
                <div class="row">
                    <div class="bloc">
                          <div class="bloc-space" ng-repeat="station in departures.stationsTo">
                              <button class="bloc-station" ng-class="station.active ? 'active' : ''" ng-click="desactivateDestinationStationId(station.id)">
                                      {{station.name}}
                              </button>
                          </div>
                    </div>
                         
                </div>
            </ion-item>

            <ion-item ng-repeat="departure in departures.departures" ng-if="isActive(departure.idFrom, departure.idTo)" href="#/tabs/home">
                        <div class="row">
                            <div class="col col-80"><h3>{{departure.from}}</h3></div>
                            <div class="col"><p>{{departure.departure}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col col-80"><h3>{{departure.to}}</h3></div>
                            <div class="col"><p>{{departure.transport}}</p></div>
                        </div>
            </ion-item>
        </ion-list>
    
    </ion-content>
</ion-view>
