<ion-view view-title="Rechercher">
    <ion-content>
       
        <ion-refresher
            pulling-text="Rafraichir"
            on-refresh="onRefresh(origin)">
        </ion-refresher>


        <div class="item item-input-inset">
            <div class="row">
                <div class="col col-75">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input ng-model="origin" ng-change="textChanged(origin)" type="search" placeholder="City" ng-model-options="{debounce: 2000}">
                        <a href=""><i class="icon ion-android-locate placeholder-icon "></i></a>
                    </label>
                </div>
                <div class="col col-25">
                        <select class="select" ng-model="option.choice" ng-change="textChanged(origin)" ng-options="option.id as option.name for option in option.choices">
                        </select>
                </div>
            </div>

        </div>


        <ion-list can-swipe="listCanSwipe">
            <ion-item>
                {{searching}}
            </ion-item>

            <ion-item>
                <div class="row">
                    <h3>Stations de départ</h3>
                </div>
                <div class="row">
                    <div class="bloc">
                          <div class="bloc-space" ng-repeat="station in departures.stationsFrom">
                              <button class="bloc-station" ng-class="isActiveStationOrigin(station) ? 'active' : ''" ng-click="onClickOrigin(station)">
                                  {{station.name}}
                              </button>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <h3>Stations d'arrivée</h3>
                </div>
                <div class="row">
                    <div class="bloc">
                          <div class="bloc-space" ng-repeat="station in departures.stationsTo">
                              <button class="bloc-station" ng-class="isActiveStationDestination(station) ? 'active' : ''" ng-click="onClickDestination(station)">
                                      {{station.name}}
                              </button>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <h3>Moyens de transport</h3>
                </div>
                <div class="row">
                    <div class="bloc">
                          <div class="bloc-space" ng-repeat="transport in departures.transports">
                              <button class="bloc-station" ng-class="isActiveTransport(transport) ? 'active' : ''" ng-click="onClickTransport(transport)">
                                      {{transport.name}}
                              </button>
                          </div>
                    </div>
                </div>
            </ion-item>

            <ion-item ng-repeat="departure in departures.departures" ng-if="isActive(departure)" href="#/tabs/home">
                        <div class="row">
                            <div class="col col-80"><h3>{{departure.nameOrigin}}</h3></div>
                            <div class="col"><p>{{departure.departure}}</p></div>
                        </div>
                        <div class="row">
                            <div class="col col-80"><h3>{{departure.nameDestination}}</h3></div>
                            <div class="col"><p>{{departure.transport}}</p></div>
                        </div>
            </ion-item>
        </ion-list>
    
    </ion-content>
</ion-view>
