<ion-view title="Open Transport Data" hide-back-button="false">
  <ion-content>
  </ion-content>
</ion-view>



<ion-tabs class="tabs-icon-top tabls-positive">
    <ion-tab title="Rechercher" icon-on="ion-android-search" icon-off="ion-android-search" ui-sref="tabs.home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Connexion" icon-on="ion-android-share-alt" icon-off="ion-android-share-alt" ui-sref="tabs.connection">
        <ion-nav-view name="connection-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Localiser" icon-on="ion-android-locate" icon-off="ion-android-locate" ui-sref="tabs.locate">
        <ion-nav-view name="locate-tab"></ion-nav-view>
    </ion-tab>


</ion-tabs>
